<!DOCTYPE html>
<html>
    <head>
        <title>Create Account</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/jquery-3.4.1.min.js"></script>
        <meta name="author" content="Christian Parker">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
      <div class="container-fluid h-100">
        <div class="row h-100">
          <div class="col-2"></div>
          <div class="col-8 my-5">

            <div class="d-flex flex-column">
              <div class="d-flex p-2">
                <div class="bg-success p-2 mr-auto">Click here to add new item to list...</div>
                <div class="p-2">Date</div>
              </div> <!-- flex-row -->
              <div class="d-flex border border-primary rounded-top p-2">
                <div class="bg-secondary p-2">X</div>
                <div class="bg-success p-2 mr-auto">List item text</div>
                <div class="p-2">Complete by date</div>
              </div> <!-- flex-row -->
              <div class="d-flex border-left border-right border-primary p-2">
                <div class="bg-secondary p-2">X</div>
                <div class="bg-success p-2 mr-auto">List item text</div>
                <div class="p-2">Complete by date</div>
              </div> <!-- flex-row -->
              <div class="d-flex border border-primary rounded-bottom p-2">
                <div class="bg-secondary p-2">X</div>
                <div class="bg-success p-2 mr-auto">List item text</div>
                <div class="p-2">Complete by date</div>
              </div> <!-- flex-row -->

            </div> <!-- flex-column -->

          </div>
          <div class="col-2"></div>
        </div>	<!-- row -->
      </div>	<!-- container -->
    </body>
</html>
