<% @page_title = "Sign-in" %>

<div class="container-fluid h-100 twentypt">
	<div class="row h-100">
		<div class="col-3 col-lg-4"></div>
  	<div class="col-6 col-lg-4 my-auto form-container border border-primary borderwidth-5 rounded text-center">

        <%= form_tag({controller: "users", action: "login"}, method: "post", class: "my-5 d-flex flex-column") do %>

        	<div class="row my-5">
            <div class="col-3"></div>

            <div class="col-6 d-flex flex-column">
			       		<div class="display-2 font-weight-bold">List</div>
			            <input class="text-center my-2" type="email" name="email" placeholder="Enter your Email">
			            <input class="text-center my-2" type="password" name="password" placeholder="Password">
			            <input class="btn-primary my-2" type="submit" value="Sign In">
                  <% if(params.has_key?(:error))
                      case params[:error]
                        when 'p'%>
                          <div class=error-message>Password is incorrect</div>
                        <%
                        when 'e'%>
                          <div class=error-message>Email is incorrect</div>
                        <%
                      end
                    end %>
                  <%= link_to('Create an account', new_user_path) %>
	        	</div>	<!-- col -->

	        	<div class="col-3"></div>
	        </div>	<!-- row -->

        <% end %>

    </div>	<!-- col -->
		<div class="col-3 col-lg-4"></div>
  </div>	<!-- row -->
</div>	<!-- container -->
